@model Category

<h2>Edit Category</h2>

<form method="post">
    
    <div class="mb-3">
        <label for="Name">Name</label>
        <input class="form-control form-control-lg" type="text" placeholder="Category" name="Name" value="@Model.Name" />
    </div>

    <button type="submit">Save</button>
</form>