@model Category

<h2>Edit Category</h2>

<form method="post">
    
    <div class="mb-3">
        <label for="Name">Name</label>
        <input asp-for="Name" class="form-control form-control-lg" placeholder="Category" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>

    <button type="submit">Save</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}