@model Actor

<h2>Update Actor</h2>

<form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control form-control-lg" placeholder="Actor Name" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <img src="~/images/actor/@Model.Img" width="100" />
    </div>
    <div class="mb-3">
        <label for="Img" class="form-label">Name</label>
        <input type="file" class="form-control" name="Img" accept="*.png,*.jpg,*.jpeg">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}