@model MovieVM

<h2>Add Movie</h2>

<form method="post" enctype="multipart/form-data">
	<!-- Name -->
	<div class="mb-3">
		<label for="Name">Name</label>
		<input asp-for="Name" placeholder="Name" />
	</div>

	<!-- Price -->
	<div class="mb-3">
		<label for="Price">Price</label>
		<input asp-for="Price" placeholder="Price" />
	</div>
	<!-- Categories -->
	<div class="mb-3">
		<label for="CategoryIds">Categories(Genres)</label>

		<select asp-for="CategoryIds" asp-items="Model.Categories" multiple></select>
	</div>
	<!-- Cinemas -->
	<div class="mb-3">
		<label for="CinemaIds">Cinemas</label>
		<select asp-for="CinemaIds" asp-items="Model.Cinemas" multiple></select>
	</div>
	<!-- Actors -->
	<div class="mb-3">
		<label for="ActorIds">Actors</label>
		<select asp-for="ActorIds" asp-items="Model.Actors" multiple></select>
	</div>
	<!-- Main Img -->
	<div class="mb-3">
		<label for="MainImg">MainImg( Main Poster )</label>

		<input asp-for="MainImg" type="file" />
	</div>
	<!-- Sub Imgs -->
	<div class="mb-3">
		<label for="SubImages">SubImages( Sub Posters )</label>

		<input asp-for="SubImages" type="file" multiple />
	</div>			
	<div class="mb-3">
	<button type="submit">Save</button>
</div>
		</form>