

<h2>Create Cinema</h2>

<form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input class="form-control" placeholder="Name" name="Name">
    </div>

    <div class="mb-3">
        <label for="Img" class="form-label">Name</label>
        <input type="file" class="form-control" name="Img" accept="*.png,*.jpg,*.jpeg">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>