@model Cinema

<h2>Update Cinema</h2>

<form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input class="form-control" placeholder="Name" name="Name" value="@Model.Name">
    </div>
    <div class="mb-3">
    <img src="~/images/cinema/@Model.Img" width="100" />
    </div>
    <div class="mb-3">
        <label for="Img" class="form-label">Name</label>
        <input type="file" class="form-control" name="Img" accept="*.png,*.jpg,*.jpeg">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>