<div class="row g-3 mb-3">
    <!-- Movies-->
    <div class="col-md-6 col-xxl-3">
        <div class="card h-md-100 ecommerce-card-min-width">
            <div class="card-header pb-0">
                <h6 class="mb-0 ms-8 mt-2 d-flex align-items-center">Movies Count<span class="ms-1 text-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Calculated according to Sum of all Movies"><span class="far fa-question-circle" data-fa-transform="shrink-1"></span></span></h6>
            </div>
            <div class="card-body d-flex flex-column justify-content-end">
                <div class="row">
                    <div class="col ms-8">
                        <p class="font-sans-serif lh-1 mb-1 fs-4">@ViewBag.Movies</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Actors-->
    <div class="col-md-6 col-xxl-3">
        <div class="card h-md-100 ecommerce-card-min-width">
            <div class="card-header pb-0">
                <h6 class="mb-0 ms-8 mt-2 d-flex align-items-center">Actor Number<span class="ms-1 text-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Calculated according to Sum of all Movies"><span class="far fa-question-circle" data-fa-transform="shrink-1"></span></span></h6>
            </div>
            <div class="card-body d-flex flex-column justify-content-end">
                <div class="row">
                    <div class="col ms-8">
                        <p class="font-sans-serif lh-1 mb-1 fs-4">@ViewBag.Actors</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Cinema-->
    <div class="col-md-6 col-xxl-3">
        <div class="card h-md-100 ecommerce-card-min-width">
            <div class="card-header pb-0">
                <h6 class="mb-0 ms-8 mt-2 d-flex align-items-center">Cinema Count<span class="ms-1 text-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Calculated according to Sum of all Movies"><span class="far fa-question-circle" data-fa-transform="shrink-1"></span></span></h6>
            </div>
            <div class="card-body d-flex flex-column justify-content-end">
                <div class="row">
                    <div class="col ms-8">
                        <p class="font-sans-serif lh-1 mb-1 fs-4">@ViewBag.Cinemas</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Category-->

    <div class="col-md-6 col-xxl-3">
        <div class="card h-md-100 ecommerce-card-min-width">
            <div class="card-header pb-0">
                <h6 class="mb-0 ms-8 mt-2 d-flex align-items-center">Category Count<span class="ms-1 text-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Calculated according to Sum of all Movies"><span class="far fa-question-circle" data-fa-transform="shrink-1"></span></span></h6>
            </div>
            <div class="card-body d-flex flex-column justify-content-end">
                <div class="row">
                    <div class="col ms-8">
                        <p class="font-sans-serif lh-1 mb-1 fs-4">@ViewBag.Categories</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts {
    <partial name="_NotificationPartial" />
}